@font-face {
  font-family: 'startechup';
  src: url(../fonts/startechup.ttf), url(../fonts/startechup.eot); }

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("proximanova-regular.eot");
  src: url("proximanova-regular.eot") format("embedded-opentype"), url("proximanova-regular.woff") format("woff"), url("proximanova-regular.ttf") format("truetype"), url("proximanova-regular.svg#ProximaNovaRegular") format("svg"); }

.startechupIcon {
  font-family: 'startechup';
  font-size: 10em;
  text-align: center;
  color: #f6a549; }

.startechupIcon:hover {
  color: white; }

h1, h2 {
  font-family: 'ProximaNovaRegular'; }

div {
  display: block; }

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }
  body header, html header {
    padding: 10px;
    background: #1d1c18;
    position: fixed;
    width: 100%;
    z-index: 100; }
    body header dl, html header dl {
      width: auto;
      display: inline-block;
      float: right;
      margin-top: 15px !important;
      margin-bottom: 0 !important; }
      body header dl dd.active a, html header dl dd.active a {
        background: #f6a549 !important; }
    @media screen and (max-width: 850px) {
      body header dl, html header dl {
        float: none; } }
    body header a, html header a {
      font-size: .9em;
      margin-left: 20px;
      color: #ffffff !important; }
    @media screen and (max-width: 1050px) {
      body header a, html header a {
        font-size: .8em;
        margin-left: 0; } }
  body div.orgMotto, html div.orgMotto {
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10; }
    body div.orgMotto div, html div.orgMotto div {
      margin-top: 16%;
      text-align: center; }
      body div.orgMotto div h1, html div.orgMotto div h1 {
        padding: 0 10px;
        display: inline-block;
        font-size: 2.8em;
        background: #f6a549;
        opacity: .9;
        color: #ffffff;
        margin-bottom: 20px; }
      @media screen and (max-width: 850px) {
        body div.orgMotto div div, html div.orgMotto div div {
          margin-top: 20%; } }
      @media screen and (max-width: 800px) {
        body div.orgMotto div div, html div.orgMotto div div {
          margin-top: 35%; }
          body div.orgMotto div div h1, html div.orgMotto div div h1 {
            font-size: 2em; } }
      @media screen and (max-width: 940px) {
        body div.orgMotto div div, html div.orgMotto div div {
          margin-top: 50%; }
          body div.orgMotto div div h1, html div.orgMotto div div h1 {
            font-size: 2.3em; } }
      @media screen and (max-width: 420px) {
        body div.orgMotto div div, html div.orgMotto div div {
          margin-top: 70%; }
          body div.orgMotto div div h1, html div.orgMotto div div h1 {
            font-size: 1.5em; } }
      body div.orgMotto div span, html div.orgMotto div span {
        color: #1d1c18; }
  body div.orbit-container, html div.orbit-container {
    height: 100%;
    position: relative; }
    body div.orbit-container .orbit-slides-container, html div.orbit-container .orbit-slides-container {
      height: 100%; }
      body div.orbit-container .orbit-slides-container img, html div.orbit-container .orbit-slides-container img {
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
    body div.orbit-container .orbit-slides-container > *, html div.orbit-container .orbit-slides-container > * {
      height: 100%; }
  body div.origin div, html div.origin div {
    padding-top: 3%; }
    body div.origin div p, html div.origin div p {
      margin-top: 50px; }
  body div.aboutStartup, html div.aboutStartup {
    background: #f8931f;
    height: 100%; }
    body div.aboutStartup div, html div.aboutStartup div {
      padding-top: 10%; }
      body div.aboutStartup div h2, body div.aboutStartup div p, html div.aboutStartup div h2, html div.aboutStartup div p {
        color: #ffffff; }
  body div.enterprise div, html div.enterprise div {
    padding-top: 10%; }
    body div.enterprise div h2, html div.enterprise div h2 {
      text-align: right; }
  body div.outsourcing, body div.ourTeam, html div.outsourcing, html div.ourTeam {
    min-height: 100%;
    padding-bottom: 20px;
    background: #1d1c18; }
    body div.outsourcing h2, body div.ourTeam h2, html div.outsourcing h2, html div.ourTeam h2 {
      color: #f6a549;
      margin-top: 100px; }
    body div.outsourcing label, body div.ourTeam label, html div.outsourcing label, html div.ourTeam label {
      color: #ffffff;
      margin-top: -15px; }
    body div.outsourcing ul, body div.ourTeam ul, html div.outsourcing ul, html div.ourTeam ul {
      position: relative;
      z-index: 2;
      margin-left: 0; }
      body div.outsourcing ul li, body div.ourTeam ul li, html div.outsourcing ul li, html div.ourTeam ul li {
        float: none;
        display: inline-block;
        width: 18%; }
        @media screen and (max-width: 800px) {
          body div.outsourcing ul li, body div.ourTeam ul li, html div.outsourcing ul li, html div.ourTeam ul li {
            font-size: 8em; } }
        @media screen and (max-width: 600px) {
          body div.outsourcing ul li, body div.ourTeam ul li, html div.outsourcing ul li, html div.ourTeam ul li {
            font-size: 6em; } }
        @media screen and (max-width: 420px) {
          body div.outsourcing ul li, body div.ourTeam ul li, html div.outsourcing ul li, html div.ourTeam ul li {
            font-size: 4em; } }
    body div.outsourcing div.small-11, body div.ourTeam div.small-11, html div.outsourcing div.small-11, html div.ourTeam div.small-11 {
      position: relative;
      z-index: 1;
      text-align: center; }
      body div.outsourcing div.small-11 p, body div.ourTeam div.small-11 p, html div.outsourcing div.small-11 p, html div.ourTeam div.small-11 p {
        text-align: left;
        margin-top: 40px;
        color: #ffffff; }
  body div.csr div, html div.csr div {
    padding-top: 12%; }
    body div.csr div h3, html div.csr div h3 {
      color: #ffffff; }
      @media screen and (max-width: 1000px) {
        body div.csr div h3, html div.csr div h3 {
          font-size: 1.5em; } }
      @media screen and (max-width: 500px) {
        body div.csr div h3, html div.csr div h3 {
          font-size: 1.3em; } }
  body div.otherInfo, html div.otherInfo {
    background: #f6a549;
    height: 100%;
    color: #ffffff;
    padding-top: 20%; }
  body div.ourTeam, html div.ourTeam {
    min-height: 50px; }
  body div.contactUs, html div.contactUs {
    padding: 30px 0 50px 0;
    background: #f8931f; }
    body div.contactUs input[type="text"], html div.contactUs input[type="text"] {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px; }
    body div.contactUs input[type="submit"], html div.contactUs input[type="submit"] {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      background: #1d1c18;
      color: #ffffff;
      padding: 5px 15px;
      border: 0;
      margin-top: 4px;
      font-weight: bold;
      font-size: .8em; }
  @media screen and (max-width: 320px) {
    body, body header, html, html header {
      width: 320px; } }

.origin {
  background: url(../img/bgs/2.jpg) no-repeat center 2em fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  padding-bottom: 20px; }

.enterprise {
  background: url(../img/bgs/3.jpg) no-repeat center 2em fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  padding-bottom: 20px; }

.csr {
  background: url(../img/bgs/4.jpg) no-repeat center 2em fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  padding-bottom: 20px; }

footer {
  background: #1d1c18;
  padding: 10px 0; }
  footer p {
    text-align: center;
    margin-bottom: 0 !important;
    color: white; }
